---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->
<p> Each page of the following portfolio contains a brief summary of research projects. Each project page includes a link to the full paper. Please email me if you are interested in any project for future collaboration. </p>
<iframe src="download.php" name="pdf-frame" width="800px" height="2100px" type="application/pdf"></iframe>

<!-- --- -->
<!-- This is an item in your portfolio. It can be have images or nice text. If you name the file .md, it will be parsed as markdown. If you name the file .html, it will be parsed as HTML.
 -->
