---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

<!-- {% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %} -->

<div class="menu">
  <a href="/files/Portfolio_NasirRakib.pdf#page=1" target="pdf-frame">Page 1</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=2" target="pdf-frame">Page 2</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=3" target="pdf-frame">Page 3</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=4" target="pdf-frame">Page 4</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=5" target="pdf-frame">Page 5</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=6" target="pdf-frame">Page 6</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=7" target="pdf-frame">Page 7</a>
  <a href="/files/Portfolio_NasirRakib.pdf#page=8" target="pdf-frame">Page 8</a>
</div>

<embed src="/files/Portfolio_NasirRakib.pdf#page=1" name="pdf-frame" width="800px" height="2100px" type="application/pdf" />
<!-- --- -->
<!-- This is an item in your portfolio. It can be have images or nice text. If you name the file .md, it will be parsed as markdown. If you name the file .html, it will be parsed as HTML.
 -->
