---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<!-- 
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



Publications (Selected)
------
<ol reversed> 
<li> <strong>Chang, H. J., Rakib, M. A. N., Foysal, M. K. H., & Chong, J. W.</strong> (2024). Clothing suggestions based on comfort extracted from physiological and emotional parameters. <em>International Journal of Clothing Science and Technology, 36</em>(5), 761-775. <a href="https://www.emerald.com/insight/content/doi/10.1108/ijcst-10-2022-0141/full/html" target="_blank">Full Paper</a> 
</li>
<li> 
<strong>Zaman, A., Endow, S., Rakib, M. A. N., & Torres, C.</strong> (2023, July). BraidFlow: A Flow-annotated Dataset of Kumihimo Braidmaking Activity. <em>In Proceedings of the 2023 ACM Designing Interactive Systems Conference</em> (pp. 839-855). <a href="https://dl.acm.org/doi/abs/10.1145/3563657.3596026" target="_blank">Full Paper</a> 
</li> 
<li> 
<strong>Rakib, M. A. N., Scidmore, J., Ginsberg, J., & Torres, C.</strong> (2023, July). Thermoplastic Kilnforms: Extending Glass Kilnforming Techniques to Thermoplastic Materials using Ontology-Driven Design. <em>In Proceedings of the 2023 ACM Designing Interactive Systems Conference</em> (pp. 263-281). <a href="https://dl.acm.org/doi/abs/10.1145/3563657.3596027" target="_blank">Full Paper</a> 
</li> 
<li> 
<strong>Chang, H. J., Rakib, N., & Min, J.</strong> (2023). An Exploration of Transformative Learning Applied to the Triple Bottom Line of Sustainability for Fashion Consumers. <em>Sustainability, 15</em>(12), 9300. <a href="https://www.mdpi.com/2071-1050/15/12/9300" target="_blank">Full Paper</a> 
</li>
 <li> 
 <strong>Endow, S., Rakib, M. A. N., Srivastava, A., Rastegarpouyani, S., & Torres, C.</strong> (2022, April). Embr: A Creative Framework for Hand Embroidered Liquid Crystal Textile Displays. <em>In Proceedings of the 2022 CHI Conference on Human Factors in Computing Systems</em> (pp. 1-14). <a href="https://dl.acm.org/doi/abs/10.1145/3491102.3502117" target="_blank">Full Paper</a> 
 </li> 
 <li> 
 <strong>Rakib, M. A. N., Chang, H. J., & Jones, R. P.</strong> (2022). Effective sustainability messages triggering consumer emotion and action: An application of the social cognitive theory and the dual-process model. <em>Sustainability, 14</em>(5), 2505. <a href="https://www.mdpi.com/2071-1050/14/5/2505" target="_blank">Full Paper</a> 
 </li>
<li>
<strong>Chang, H. J., Dokko, J., Min, J., & Rakib, M. A. N.</strong> (2020, December). A typology of online shopping consumers and its relation to online shopping perception and obsession. <em>In International Textile and Apparel Association Annual Conference Proceedings</em> (Vol. 77, No. 1). Iowa State University Digital Press. <a href="https://www.iastatedigitalpress.com/itaa/article/id/9484/" target="_blank">Conference Abstract</a> 
</li> 
<li> 
<strong>Rashedul Islam, S. Y. E. D., Weidong, Y. U., Jinhua, J. I. A. N. G., & Abu Nasir Rakib, M. O. H. A. M. M. A. D.</strong> (2019). Mechanical Properties of Weft-Knitted Spacer Fabrics Integrated with Silica Aerogels. <em>Journal of Donghua University (English Edition), 36</em>(6). <a href="https://www.researchgate.net/profile/Syed-Rashedul-Islam/publication/338498008_Mechanical_Properties_of_Weft-Knitted_Spacer_Fabrics_Integrated_with_Silica_Aerogels/links/6419725592cfd54f8418ac11/Mechanical-Properties-of-Weft-Knitted-Spacer-Fabrics-Integrated-with-Silica-Aerogels.pdf" target="_blank">Conference Abstract</a> 
</li>
</ol>

[Please click here to see the full list of publication](https://scholar.google.com/citations?hl=en&user=gPfAIVQAAAAJ&view_op=list_works&sortby=pubdate)